/*
    yehaoze
    2024.05.03.
    I-2-N
*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aquamarine;
}


.总功能栏 {
    width: 10vw;
    height: 6vw;
    background-color: white;
    border-radius: 2vw;
    position: fixed;
    top: 1vw;
    left: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 2px black;
    z-index: 2;
}

.总功能栏_主页 {
    width: 70vw;
    height: 6vw;
    background-color: white;
    border-radius: 2vw;
    position: fixed;
    top: 1vw;
    left: 15vw;
    display: flex;
    align-items: center;
    border:solid 2px black;
    z-index: 2;
}

.logo {
    display: flex;
    width: 10vw;
    height: 4vw;
    border-radius: 2vw 2vw 0 0;
    background-image: url(image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo_主页 {
    display: flex;
    width: 50vw;
    height: 6vw;
    border-radius: 2vw 2vw 0 0;
    background-image: url(image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo:hover {
    background-size: 8.5vw;
}

.logo_主页:hover {
    background-size: 14.5vw;
}


.功能栏 {
    display: flex;
    border-top: solid 2px rgb(109, 109, 109);
}

.功能栏_主页 {
    display: flex;
    border-left: solid 2px rgb(109, 109, 109);
}

#功能栏按钮 {
    transition-duration: 0.5s;
    width: 5vw;
    height: 2vw;
    text-align: center;
}

#功能栏按钮_主页 {
    transition-duration: 0.5s;
    width: 10vw;
    height: 6vw;
    text-align: center;
}

#功能栏按钮_主页:hover {
    background-color:rgb(139, 139, 139);
}


#功能栏按钮:hover {
    background-color:rgb(139, 139, 139);
}

.主页 {
    border-radius: 0 0 0 2vw;
    border-right: solid 2px rgb(109, 109, 109);
}



.搜索 {
    border-radius: 0 0 2vw 0;
}

.搜索_主页 {
    border-left: solid 2px rgb(109, 109, 109);
    border-radius: 0 2vw 2vw 0;
}

#功能栏按钮_按钮_主页 {
    width: 4vw;
    height: 2vw;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(image/主页.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0.5vw;
}

#功能栏按钮_按钮_主页2 {
    width: 10vw;
    height: 6vw;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(image/主页.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0.5vw;
}

#功能栏按钮_按钮_搜索 {
    width: 4vw;
    height: 2vw;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(image/搜索.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 0.5vw;
}

#功能栏按钮_按钮_搜索2 {
    width: 10vw;
    height: 6vw;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(image/搜索.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 0.5vw;
}



.搜索功能 {
    position: absolute;
    top: 1vw;
    left: 19vw;
    border:solid 2px black;
    padding: 4vw;
    border-radius: 2vw;
    background-image: url(image/搜索背景.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.搜索功能_标题 {
    text-align: center;
    font-size: 50px;
    color: white;
}

#input {
    width: 50vw;
    height: 2vw;
    border-radius: 2vw;
    margin-top: 2.5vw;
    text-align: center;
    font-size: 1.2vw;
    background-image: url(image/搜索.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:1vw;
}

.搜索功能_确定 {
    padding: 0.2vw;
    font-size: 1vw;
    border-radius: 0.6vw;
}

.搜索结果 {
    background-color: white;
    width: 62vw;
    height: 17vw;
    position: absolute;
    top: 22vw;
    left: 14.5vw;
    border:solid 5px rgb(63, 63, 63);
    border-radius: 2vw;
    padding: 4vw;
    font-size: 25px;
}


.显示 {
    width: 80vw;
    background-color: white;
    margin-top: 10vw;
    position: relative;
    left: 10vw;
    border:solid 5px rgb(63, 63, 63);
    padding: 15px;
}

.游戏 {
    width: 80vw;
    height: 20vw;
    border:solid 2px rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    
}

.介绍 {
    height: 20vw;
    width: 60vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.521);
    
}

.介绍_text {
    text-align: center;
    font-size: 3vw;
    width: 60vw;
    height: 7vw;
}

.play {
    width: 20vw;
    height: 5vw;
    font-size: 2vw;
    position: relative;
    top: 7vw;
    border-radius: 10px;
}

.play:hover {
    background-color: white;
}




.图标0 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏0.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标1 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标2 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标3 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标4 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏4.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标5 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏5.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标6 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏6.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标7 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏7.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标8 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏8.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.图标9 {
    width: 20vw;
    height: 20vw;
    background-image: url(image/游戏9.png);
    background-repeat: no-repeat;
    background-size: contain;
}


